/* Set up colour palette and fonts using variables */

:root {
  --primary: #ffffff;
  --secondary: #7b4397;
  --tertiary: #56ab2f; /*#3a96dd;*/
  --page: #ffffff;
  --onprimary: #664300;
  --onsecondary: #664300;
  --ontertiary: #ffffff;
  --onpage: #000000;
  --detail: #dc2430;
  --detail2: #a8e063;

  --body-font: 1.1rem Verdana, sans-serif;
  --header-font: lighter 3rem Bungee, sans-serif;
  --title-font: lighter 2rem Bangers, sans-serif;
}
